In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import warnings 
warnings.filterwarnings('ignore')
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv('/Users/jason/Desktop/Portfolio/Project_1/HouseData (1).csv')

In [3]:
df = df.drop(columns=['id'])

In [4]:
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,yr_built,zipcode,lat,long
0,20141022T000000,"1,495,000",4,3.25,3070,10375,2.0,No,No View,Average,10,1962,98004,47.5862,-122.198
1,20141126T000000,"1,495,000",4,3.75,3770,4000,2.5,No,No View,Very Good,9,1916,98122,47.6157,-122.287
2,20150129T000000,"1,490,000",4,2.50,2420,18480,1.0,No,No View,Good,9,1967,98004,47.6214,-122.227
3,20150331T000000,"1,490,000",3,3.50,4560,14608,2.0,No,Average,Average,12,1990,98034,47.6995,-122.228
4,20140911T000000,"1,490,000",5,3.50,3620,7821,2.0,No,Average,Average,10,1958,98040,47.5738,-122.215

In [5]:
df['date'] = pd.to_datetime(df['date'], format="%Y%m%dT%H%M%S")
df['date_nums'] = df['date'].apply(lambda x: x.timestamp())
df = df.drop(columns=['date'])

In [6]:
df['price'] = df['price'].str.replace(',', '').str.strip()
df['price'] = pd.to_numeric(df['price'], errors='coerce')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21060 entries, 0 to 21059
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price        21060 non-null  int64
 1   bedrooms     21060 non-null  int64
 2   bathrooms    21060 non-null  float64
 3   sqft_living  21060 non-null  int64
 4   sqft_lot     21060 non-null  int64
 5   floors       21060 non-null  float64
 6   waterfront   21060 non-null  object
 7   view         21060 non-null  object
 8   condition    21060 non-null  object
 9   grade        21060 non-null  int64
 10  yr_built     21060 non-null  int64
 11  zipcode      21060 non-null  int64
 12  lat          21060 non-null  float64
 13  long         21060 non-null  float64
 14  date_nums    21060 non-null  float64
dtypes: float64(5), int64(7), object(3)
memory usage: 2.4+ MB

In [8]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [9]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

ct = ColumnTransformer(transformers=[ ('encoder', OneHotEncoder(), [6, 7, 8,]) ], remainder='passthrough')

df = ct.fit_transform(df)

In [20]:
X

NameError: name 'X' is not defined